{% extends 'blogApp/base.html'%}

{% block title %} Change Password {% endblock %}

{% block content %}
<br>
<h1>Change Passwrod</h1>

<div class='form-group'>
<form method="POST">
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <input type="submit" value="Change Password">
</form>
<br>
<!-- <ul>
  <li>Your password can’t be too similar to your other personal information.</li>
  <li>Your password must contain at least 8 characters.</li>
  <li>Your password can’t be a commonly used password.</li>
  <li>Your password can’t be entirely numeric.</li>
</ul> -->
</div>

{% endblock %}
