{% extends 'blogApp/base.html'%}

{% block title %} Login {% endblock %}

{% block content %}
<br><br><br>

<div class="container-sm text-center">
  <h1>Login</h1>
  <br>
  <div class='form-group'>
  <form method="POST">
    {% csrf_token %}
    <table>
      {{form.as_p}}
    </table>
    <!-- <div class="mb-3">
          <label class="form-label">Username</label>
          {{form.username}} -->
          <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
    <!-- </div>
    <div class="mb-3">
          <label class="form-label">Password</label>
          {{form.password}} -->
          <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
    <!-- </div> -->
    <input type="submit" value="Login">
  </form>
  </div>
</div>
{% endblock %}
